.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flexItem {
  flex: 0 1 49%;
}

.flex-right {
  justify-content: flex-end;
}

.header {
  background-color: #341313;
}

.header-link {
  color: white !important;
  margin: 0 20px !important;
  font-size: 20px;
  text-decoration: none;
}

.header-link:hover {
  color: #d9cba2 !important;
}

.header-link-active {
  color: #d9cba2 !important;
}

.logo {
  font-size: 28px;
  color: white;
  margin-left: 10px;
  margin-bottom: 0;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.flex-25 {
  flex: 0 1 23%;
  margin: 1%;
}

.img {
  width: 100%;
}

.flex-center {
  align-items: center;
}

.cart-action {
  width: 40px;
  height: 40px;
  background: #db4c4c;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.cart-actions-text {
  font-size: 22px;
  margin: 0 15px;
}

.cart-title {
  text-align: center;
  font-size: 30px;
}

.cart-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
.button {
  background: #db4c4c;
  border-color: #db4c4c;
}

.cart-button {
  font-size: 20px;
  margin-bottom: 20px;
}


.active-category {
  background: #db4c4c !important;
}

.button:hover {
  background: #db4c4c;
  border-color: #db4c4c;
}

.button:focus {
  background: #db4c4c;
  border-color: #db4c4c;
}

.justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-image {
  height: 250px;
  object-fit: cover;
}